/node_modules
/public
/storage/*.key
/vendor
/resources/lang/vendor/*
/resources/views/vendor/*
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
/_ide_helper.php
/public/media
.phpstorm.meta.php
/public/svg-sprite.svg
storage
